<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Поиск
    </title>
</head>
<body>
Hello, World !!!
<h1>
    Форма для поиска
</h1>
<form>
<!--    input - поля для ввода данных или кнопки-->
    <input type="text" name="query_string" value="" placeholder="строка поиска"><br>
    <br>

    <p><select name="where">
            <option>Везде</option>
            <option value="Чебурашка">В названии компании</option>
            <option selected value="Крокодил Гена">В названии вакансии</option>
        </select></p>
   <p>

    <input type="submit" value="Искать вакансию">

</form>

<hr>

<a href="index.html">На главную</a>
</body>
</html>

